{% extends 'base.html' %}

{% block content %}

<div class="container top">
    <div class="row">
        <div class="col-md-12">
            <div class="row top-section">
                <div class="col-md-5 profile-image">
                    {% if profile_details.prof_pic %}
                    <img src="{{profile_details.prof_pic.cdn_url}}" alt="profile-photo">
                    {% else %}
                    <img src="/static/img/profil.png" alt="avatar">
                    {% endif %}
                </div>
                